@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
  --dark-blue-intro: hsl(
    217,
    28%,
    15%
  ); /*(intro and email sign up background)*/
  --dark-blue-main: hsl(218, 28%, 13%); /* (main background)*/
  --dark-blue-footer: hsl(216, 53%, 9%); /*(footer background)*/
  --dark-blue-testimonials: hsl(219, 30%, 18%); /*(testimonials background)*/

  --cyan: hsl(176, 68%, 64%); /*(inside call-to-action gradient)*/
  --blue: hsl(198, 60%, 50%); /*(inside call-to-action gradient)*/
  --light-red: hsl(0, 100%, 63%); /*(error)*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark-blue-intro);
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
nav {
  width: 85%;
  height: 15vh;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 130px;
  height: auto;
  cursor: pointer;
}
ul.navbar {
  list-style: none;
  display: flex;
}
ul.navbar li {
  width: 100px;
}
ul.navbar li a {
  text-decoration: none;
  color: rgb(223, 216, 216);
}
ul.navbar li a:hover {
  text-decoration: underline;
  color: #fff;
}
.section-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.intro-desc {
  width: 600px;
  margin: auto;
  margin-bottom: 30px;
}
.illustration {
  width: 470px;
  margin-bottom: 30px;
}
.intro-desc h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 25px;
  font-family: 'Raleway', sans-serif;
}
.intro-desc p {
  width: 500px;
  line-height: 1.6rem;
  font-weight: 700px;
  margin: 0 auto 30px;
}
#btn {
  width: 220px;
  padding: 16px;
  outline: none;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to right, var(--cyan), var(--blue));
  color: #fff;
}
#btn a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
.curvy-bg {
  width: 100%;
  /* height: 40vh; */
  position: relative;
  top: -210px;
  z-index: -1;
}
.section-2 {
  width: 100%;
  height: auto;
  background-color: var(--dark-blue-main);
  position: relative;
  top: -210px;
  z-index: -1;
}
.services {
  width: 70%;
  min-height: 50vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.service-wrapper {
  margin: 30px 0;
}
.service-wrapper img {
  width: 70px;
  height: auto;
  line-height: 1.5rem;
  margin-bottom: 25px;
}
.service-desc {
  width: 400px;
  line-height: 1.5rem;
  margin-bottom: 50px;
}
.service-desc h2 {
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 10px;
}

/* Section 3 starts here */
.section-3 img {
  width: 550px;
  height: auto;
}
.section-3 {
  width: 85%;
  margin: 30px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-3-desc {
  width: 550px;
}
.section-3-desc h1 {
  font-size: 2rem;
  width: 300px;
  margin-bottom: 15px;
  font-family: 'Raleway', sans-serif;
}
.section-3-desc p {
  margin-bottom: 30px;
}
.section-3-desc a {
  color: var(--cyan);
  margin-right: 7px;
  text-decoration: none;
  border-bottom: 1px solid var(--cyan);
  padding: 5px 0;
}

/* Testimonial section starts here */

.testimonial-section {
  width: 90%;
  min-height: 70vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.testimonial-section::after {
  content: url(./images/bg-quotes.png);
  position: absolute;
  top: 150px;
  left: -10px;
}
.testimonial-card {
  width: 385px;
  height: 200px;
  background-color: var(--dark-blue-testimonials);
  padding: 25px 15px;
  box-shadow: 2px 2px 3px hsl(217, 27%, 20%);
  z-index: 1;
}
.testimonial-desc {
  width: 345px;
  font-size: 14px;
  line-height: 1.5rem;
}
.profile-wrapper {
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.profile {
  width: 50px;
  height: 50px;
  background-image: url(./images/profile-1.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
.profile-desc span {
  font-size: 14px;
  color: #f3f3f3;
}
.profile-2 {
  background-image: url(./images/profile-2.jpg);
  background-size: cover;
  background-position: center;
}
.profile-3 {
  background-image: url(./images/profile-3.jpg);
  background-size: cover;
  background-position: center;
}
.sign-up-section {
  width: 60%;
  height: 35vh;
  margin: auto;
  background-color: var(--dark-blue-testimonials);
  border-radius: 5px;
  display: flex;
  text-align: center;
  padding: 20px;
  z-index: 1;
  position: relative;
  top: 50px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}
.sign-up-desc h1 {
  margin-bottom: 15px;
}
form {
  margin-top: 30px;
}
input[type='email'] {
  width: 500px;
  padding: 14px 20px;
  outline: none;
  border: none;
  border-radius: 25px;
  background: #fff;
  margin-right: 25px;
}
::placeholder {
  color: rgb(210, 208, 206);
}
input[type='submit'] {
  width: 200px;
  padding: 14px 20px;
  outline: none;
  border: none;
  color: #fff;
  background-color: var(--cyan);
  border-radius: 25px;
}
footer {
  width: 100%;
  height: 60vh;
  background-color: var(--dark-blue-footer);
  display: flex;
  flex-direction: column;
  position: relative;
}
footer .logo {
  position: relative;
  top: 100px;
  left: 50px;
}
.footer-body {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.location {
  width: 350px;
  display: flex;
}
li {
  list-style: none;
  line-height: 2rem;
}
li a {
  text-decoration: none;
  color: #fff;
}
.fas {
  margin-right: 15px;
}
.fab {
  margin-right: 10px;
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 50%;
}
a .fab {
  text-decoration: none;
  color: #fff;
}
a .fab:hover {
  color: var(--cyan);
}
.footer-bottom {
  width: 100%;
  height: 10vh;
  background-color: var(--dark-blue-main);
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.footer-bottom a {
  text-decoration: none;
  color: var(--cyan);
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

/* Media query for small devices */
@media screen and (max-width: 375px) {
  nav {
    width: 90%;
  }
  .logo {
    width: 70px;
    height: auto;
  }
  ul.navbar li {
    width: 70px;
    margin-right: 5px;
  }
  ul.navbar li:nth-child(2) {
    width: 50px;
  }
  ul.navbar li:nth-child(3) {
    width: 50px;
  }
  .section-1 {
    width: 300px;
    margin: auto;
  }
  .illustration {
    width: 350px;
  }
  .intro-desc {
    width: 300px;
    margin: auto;
  }
  .intro-desc h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .intro-desc p {
    width: 318px;
    line-height: 1.5rem;
  }
  #btn {
    width: 200px;
  }
  .curvy-bg {
    display: none;
  }
  /* Media query for section 2 starts here */

  .services {
    width: 85%;
    margin: 250px auto 0;
  }
  .service-desc {
    width: 300px;
    margin: auto;
  }
  .service-desc h2 {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  .service-desc p {
    font-size: 14px;
    width: 200px;
    margin: auto;
  }

  /* Section 3 media query starts here */
  .section-3 {
    margin-top: 0;
  }
  .section-3 img {
    width: 300px;
    height: auto;
  }
  .section-3-desc h1 {
    font-size: 1rem;
    margin: 15px 0;
  }
  .srction-3-desc p {
    margin-bottom: 30px;
    font-size: 14px;
  }

  /* Media query for testimonial section */

  .testimonial-section {
    width: 90%;
    min-height: 100vh;
    margin: 100px auto 0;
  }
  .testimonial-section::after {
    top: -30px;
    left: -10px;
  }
  .testimonial-card {
    width: 350px;
    height: 230px;
    margin-bottom: 25px;
  }
  .testimonial-desc {
    width: 310px;
  }

  /* Media query for sign up section */
  .sign-up-section {
    width: 90%;
    height: 60vh;
    margin: auto;
    position: relative;
    top: 50px;
  }
  .sign-up-desc {
    width: 300px;
  }
  .sign-up-desc h1 {
    margin-bottom: 15px;
    font-size: 1.2rem;
  }
  input[type='email'] {
    width: 300px;
    margin-bottom: 15px;
  }
  input[type='submit'] {
    width: 300px;
  }

  /* Media query for footer section */

  footer {
    height: 120vh;
  }
  footer .logo {
    width: 120px;
    top: 80px;
    left: 30px;
  }
  .footer-body {
    width: 85%;
    flex-direction: column;
  }
  .location {
    width: 300px;
  }
  .footer-body p {
    font-size: 14px;
    margin-bottom: 35px;
    line-height: 1.2rem;
  }
  .about-us {
    margin: 30px 0;
  }
  .social-links {
    width: 35%;
    margin: 15px auto 0;
  }
  .fab {
    font-size: 10px;
  }
  .footer-bottom {
    height: 8vh;
    font-size: 0.875rem;
    font-size: 12px;
  }
}
